<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!--  <uses-permission android:name="android.permission.READ_CONTACTS" android:requiredFeature="true" />-->
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!-- To access Google+ APIs and GPS: -->
    <uses-permission android:name="android.permission.ACCESS_GPS"  android:exported="true" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION"  android:exported="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:exported="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:exported="true" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS"  android:exported="true"/>

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="br.com.lustoza.doacaomais.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Notification Vibrate Device -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <!-- Change Network Configurations -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- Permission Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Always required on api < 21, needed to keep a wake lock while your job is running -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required on api < 21 if you are using setRequiredNetworkType(int) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required on all api levels if you are using setPersisted(true) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Nível de Aplicacao -->
    <application
        android:name=".Utils.UtilApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- Face e Google Meta Data -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA8CeCRXtZYxy4D-XQzJHeSrugtlOJOqLM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activities -->

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Facebook Activities -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoticiasActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true" />
        <activity
            android:name=".BazarActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true" />
        <activity
            android:name=".CacccActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TabsCacccActivity"
            android:label="@string/title_activity_tablayout"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".PerfilActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".PreferenciaActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AjudaActivity"
            android:label="@string/title_activity_ajuda"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ApresentacaoActivity"
            android:label="@string/title_empty"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".VisaoRuaActivity"
            android:label="@string/title_empty"
            android:theme="@style/AppTheme" />

        <!-- BroadCast -->

        <receiver
            android:name=".Services.Job.JobServiceUpdateFilesBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="doacao.mais.start.services" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Services.Job.NotificationBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="doacao.mais.start.services" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Servicos -->

        <service
            android:name=".Services.Job.NotificationService"
            android:exported="false"
            android:label="LastUpdated"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.Job.JobServiceUpdateFiles"
            android:exported="false"
            android:label="JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />


    </application>

</manifest>